.header {
  background-color: #cdc1d6;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 17px 61px 7px;
}

.logoContainer {
  display: flex;
  gap: 24px;
  color: #000;
  font: 400 36px/36px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.logoCircle {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.schoolName {
  margin: auto 0;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  color: #fff;
  font: 400 16px/1 Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.contactButton {
  border-radius: 10px;
  background-color: rgba(20, 12, 115, 0.96);
  padding: 17px 38px;
  border: none;
  color: inherit;
  cursor: pointer;
}

.contactIcon {
  aspect-ratio: 1.1;
  object-fit: contain;
  width: 33px;
  margin-top: 12px;
}

@media (max-width: 991px) {
  .header {
    padding: 17px 20px 7px;
  }

  .contactButton {
    padding: 17px 20px;
  }
}